*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
  font-weight: bold;
}

.active{
  background: yellow;
 color: #1b1a4d;
}

ul li a{
  text-decoration:none;
  color: black;
}
ul li a:hover{
  background: #1b1a4d;
  padding: 0.5em;
  color: yellow;
}


th{
font-weight: normal;
 font-size: 13px;
}

td {
  font-weight: normal;
  font-size: 13px;
}

.btn{
    font-weight: bold;
    background: #1b1a4d;
    color: yellow;
}

.btn:hover{
    font-weight: bold;
    background: yellow;
    color: #1b1a4d;
}
